<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890517767801-n08kvnn9c46pvi3rjgj9692kvqsseqi6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890517767801-n08kvnn9c46pvi3rjgj9692kvqsseqi6</string>
	<key>API_KEY</key>
	<string>AIzaSyCV_Ldx-vx-ck8Bjv9_pL86X_EAwVwbU6k</string>
	<key>GCM_SENDER_ID</key>
	<string>890517767801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muratcanaslan.LoodosCaseApp</string>
	<key>PROJECT_ID</key>
	<string>loodos-case-app</string>
	<key>STORAGE_BUCKET</key>
	<string>loodos-case-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890517767801:ios:edad6f63c67b82c0f736a8</string>
</dict>
</plist>